html { font-family:
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
      }
@supports (font-variation-settings: normal) {
  html { font-family:
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        }
}

code {
  font-family:
    "Inconsolata"
    sans-serif,
  font-size: 85%;
}
