
@media  {
    body {
        background-color: #393E41;
        color: white;
    }

    blockquote {
      background: #393E41;
    }

    a {
      color: #EBC3DB;
    }

    header {
      background: #393E41;
      border-bottom: 2px dotted #EBC3DB;

    }

    .article-meta, .menu a {
      background: #393E41;
      color: white;
    }

    table {
      margin: auto;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #666; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #666 }

}

.pagination{
    display:flex;
    font-size:1.125rem;
    line-height:1.75rem;
    place-content:center
}
.pagination ul{
    display:flex;
    list-style-type:none
}
.pagination a{
    margin-left:.5rem;
    margin-right:.5rem;
    padding:.5rem 1rem
}

body {
  max-width: 80rem;
  margin: auto;
  padding: .2em;
  line-height: 1.5em;
}

h1 {
  line-height: 1.5em;
}

/* Table of Contents, if wanted

Add to yaml:

output:
  blogdown::html_page:
    toc: true

    */

#TableOfContents, #TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}

/* Header and Footer */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
  margin-bottom: 20px;
}

.terms { font-size: .9em; }
.menu, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }

.pull-left {
    float: left
}
.pull-right {
    float: right
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adjust background at your leisure! */
header {
    position: relative;
    width: 100%;
    height: 1.75rem;
    font-size: 1rem;
}

header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none
}
header nav {
    padding: 0 0.5rem
}

header a {
    color: #fff;
    line-height: 1.75rem;
    padding: 0 0.5rem
}
header a:hover,
header .current a {
    color: #fff
}

/* Code Boxes */
pre {
  border: 2px solid #EBC3DB;
  padding: 1em;
  overflow-x: auto;
}
pre code { background: none; }

/* Images, tables, misc. */
img, iframe, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
  /* hyphens: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* line-height: 1.7em; */
    display: block;
    font-size: 1.1em;
}
main a {
  font-weight: bold;
}

blockquote {
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

.content-wrapper {
    margin: auto;
    padding: 0px 12px 0px 12px;
}
#foxy {
  min-width: 40px;
  float: right;
  padding: 10px;
  display: block;
}

/* Small devices, phones */
@media only screen and (min-width : 480px) {
  #foxy {
    min-width: 40px;
    float: center;
    padding: 10px 10px 10px 20px;
    display: block;
  }
}


.ukraine {
  width: 100%;
  padding:30px 0;
  text-align: center;
  background: linear-gradient(to bottom, #0057b7 0%, #0057b7 50%, #ffd700  50%, #ffd700  100%);
  color: white;
}


.ukraine p {
  color: red;
}

#search {
  --pagefind-ui-text: #ffffff !important;
  --pagefind-ui-background: rgba(0,0,0,0);
}
