
<div class="social-links-header">

  {{with .Site.Params.email}}
  <a href="mailto:{{.}}"><div class="social-link">email</div></a>
  {{end}}

  {{with .Site.Params.mastodon}}
  <a rel="me" href="https://mastodon.social/{{.}}" target="_blank"><div class="social-link">mastodon</div></a>
  {{end}}

  {{with .Site.Params.twitch}}
  <a href="https://twitch.tv/{{.}}" target="_blank"><div class="social-link">twitch</div></a>
  {{end}}

  {{with .Site.Params.twitter}}
  <a href="https://twitter.com/{{.}}" target="_blank"><div class="social-link">twitter</div></a>
  {{end}}

  {{with .Site.Params.gitlab}}
  <a href="https://www.gitlab.com/{{.}}" target="_blank"><div class="social-link">gitlab</div></a>
  {{end}}

</div>
