body {
  background-color: {{ .Param "colors.background" }};
  color: {{ .Param "colors.text" }};
  text-shadow: 1px 1px 2px black; 
}

a { color: {{ .Param "colors.text-link" }}; }

pre {
  background: {{ .Param "colors.code-quote-bg" }};
  border: 1px solid {{ .Param "colors.text" }};
  border-radius: 5px;
}

code {
  background: {{ .Param "colors.code-quote-bg" }};
}

blockquote {
  background: {{ .Param "colors.code-quote-bg" }};
  border-left: 3px solid {{ .Param "colors.text" }};
}

table {
  margin: 1em auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid {{ .Param "colors.text" }};
}

th {
  background: {{ .Param "colors.text" }};
  color: {{ .Param "colors.background" }};
}

.siteTitle a { color: {{ .Param "colors.main" }}; }

.post .content h1{ color: {{ .Param "colors.main" }}; }
.post .content h2{ color: {{ .Param "colors.main" }}; }
.post .content h3{ color: {{ .Param "colors.main" }}; }
.post .content h4{ color: {{ .Param "colors.main" }}; }
.post .content h5{ color: {{ .Param "colors.main" }}; }
.post .content h6{ color: {{ .Param "colors.main" }}; }
.post .content a:hover { color: {{ .Param "colors.main" }}; }
.social-link:hover { color: {{ .Param "colors.main" }}; }
.nav-item-title:hover { color: {{ .Param "colors.main" }}; }
.tag a:hover { color: {{ .Param "colors.main" }}; }
.copyright { color: {{ .Param "colors.copyright" }} }
.poweredby { color: {{ .Param "colors.copyright" }} }
.poweredby a { color: {{ .Param "colors.copyright" }}; }
.post-preview .title a{ color: {{ .Param "colors.main" }}; }
.content-item a:hover{
  text-decoration: underline;
  color: {{ .Param "colors.main" }};
}
.post-list .title { color: {{ .Param "colors.main" }}; }
.rmore { color: {{ .Param "colors.main" }}; }
.terms .term a:hover {
  text-decoration: underline;
  color: {{ .Param "colors.main" }};
}
